<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentManager2.Properties.Settings.Students2ConnectionString"
            connectionString="Data Source=KOWAL_KOMPUTER\SQLEXPRESS;Initial Catalog=Students2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>